<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="assets/img/logo.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic-icons.css">
</head>

<body style="">

    <nav class="navbar navbar-expand-md bg-body">
        <div class="container-fluid">
            <div style="display: inline;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                    viewBox="0 0 24 24" fill="none" style="margin: 1px;width: 25px;height: 25px;">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16 9C16 11.2091 14.2091 13 12 13C9.79086 13 8 11.2091 8 9C8 6.79086 9.79086 5 12 5C14.2091 5 16 6.79086 16 9ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z"
                        fill="currentColor"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM3 12C3 14.0902 3.71255 16.014 4.90798 17.5417C6.55245 15.3889 9.14627 14 12.0645 14C14.9448 14 17.5092 15.3531 19.1565 17.4583C20.313 15.9443 21 14.0524 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12ZM12 21C9.84977 21 7.87565 20.2459 6.32767 18.9878C7.59352 17.1812 9.69106 16 12.0645 16C14.4084 16 16.4833 17.1521 17.7538 18.9209C16.1939 20.2191 14.1881 21 12 21Z"
                        fill="currentColor"></path>
                </svg>
                <p style="display: inline;margin-top: 0px;padding: 2px;">Hello <%= user.firstName %>
                </p>
            </div><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/checkins">Today's Check-Ins</a></li>
                    <li class="nav-item"><a class="nav-link" href="/checkouts">Today's Check-Outs</a></li>
                    <li class="nav-item"><a class="nav-link" href="/acceptedoutpasses">Accepted Outpasses</a></li>
                    <li class="nav-item"><a class="nav-link" href="/acceptedoutpasses">Rejected Outpasses</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container"
        style="padding: 0px;height: 180px;background: url(&quot;assets/img/students-moving-out-of-residence-3.jpg&quot;) no-repeat;background-size: 100%;">
        <div
            style="width: inherit;height: inherit;background: var(--bs-tertiary-color);backdrop-filter: opacity(0.20);">
            <div style="display: block;text-align: center;margin-top: 0px;">
                <h1 style="color: var(--bs-body-bg);margin-top: 0px;">Good Morning</h1>
                <p style="color: var(--bs-body-bg);">Accept All Requests...</p><button class="btn btn-primary"
                    type="button"
                    style="width: 75px;height: 32.6px;font-size: 12px;background: #2568FB;color: var(--bs-body-bg);">Accept</button>
            </div>
        </div>
    </div>
    <div style="margin-top: -3px;padding: 8px;font-size: 11px;">
        <h1 style="font-size: 16.4px;">Pending OutPass</h1>
        <% for (const outpassId in outpassesWithUsers) { %>
            <% const outpass=outpassesWithUsers[outpassId].outpass; %>
                <% const users=outpassesWithUsers[outpassId].user; %>
                    <div class="card">
                        <div class="card-body" style="background: #FECD45;">
                            <div style="display: flex;justify-content: space-between;">
                                <div style="display: inline;">
                                    <h4 style="font-size: 13.5px;">Outpass <%= outpass.id %>
                                    </h4>
                                    <% const OutpassDateTimeOut=new Date(outpass.datetimeout); %>
                                        <p style="margin-bottom: 0px;">DateTimeOut: <%=
                                                OutpassDateTimeOut.toLocaleString('en-US', { timeZone: 'UTC' }) %>
                                        </p>
                                        <p style="margin-bottom: 0px;">Name: <%= users.firstName %>
                                        </p>
                                        <p style="margin-bottom: 0px;">College: <%= users.college %>
                                        </p>
                                        <p style="margin-bottom: 0px;">Purpose: <%= outpass.PurposeOfVisit %>
                                        </p>
                                </div>
                                <div style="display: block;"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                        height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone"
                                        style="width: 15px;height: 15px;color: var(--bs-green);background: var(--bs-card-cap-bg);">
                                        <path
                                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                                        </path>
                                    </svg>
                                    <div></div>
                                </div>
                            </div><a class="btn btn-primary" href="/acceptoutpass/<%= outpass.id %>"
                                style="width: 70.1px;height: 23.6px;font-size: 12px;padding: 2px 0px;padding-right: 0px;padding-left: 0px;margin-right: 4px;">Accept</a><a
                                class="btn btn-primary" 
                                style="width: 70.1px;height: 23.6px;font-size: 12px;padding: 2px 0px;">Reject</a>
                            <!-- <hr> -->
                            <!-- <div style="display: flex;justify-content: space-between;">
                    <p style="font-size: 13px;margin-bottom: 0px;">Normal Outpass: 8</p>
                    <p style="font-size: 13px;margin-bottom: 0px;">Emergency Outpass:2</p>
                </div> -->
                        </div>
                    </div>
                    <% } %>
    </div>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>